.featured {
    height: 720px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: black;
    // margin-bottom: 4rem;
    transform: translate(0px, -60px);

    .container {
        display: flex;
        // margin-top: 15rem;
        width: 100%;
        background-color: black;

        .left {
            padding: 0 60px;
            width: 900px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: black;

            h1 {
                font-size: 50px;
                line-height: 56px;

                span {
                    font-family: 'Noto Serif Display', serif;
                    font-weight: 600;
                }

                @media screen and (max-width: 900px) {
                    font-size: 45px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 32px;
                }
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 5px;

                .searchInput {
                    background-color: #fff;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                        // background-color: ;
                    }

                    input {
                        width: 100%;
                        height: 50px;
                        border: none;
                        outline: none;
                        color: #000;
                    }

                    @media screen and (max-width: 900px) {
                        border-radius: 5px;
                    }
                }

                button {
                    width: 120px;
                    height: 50px;
                    font-size: 16px;
                    border: none;
                    background-color: var(--green-color);
                    color: #fff;
                    cursor: pointer;
                    border-radius: 0 5px 5px 0;

                    @media screen and (max-width: 900px) {
                        width: 100%;
                        border-radius: 5px;
                    }
                }

                @media screen and (max-width: 900px) {
                    flex-direction: column;
                    gap: 10px;
                }
            }

            .popular {
                display: flex;
                align-items: center;
                gap: 10px;

                span {}

                button {
                    color: #fff;
                    background-color: transparent;
                    border: 1px solid #fff;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 14px;
                    cursor: pointer;

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }

                @media screen and (max-width: 900px) {
                    display: none;
                }
            }

            @media screen and (max-width: 900px) {
                top: 100px;
                width: 80%;
                margin: auto;
            }
        }

       .right {
            position: relative;
            width: 800px;
            height: auto;
            // overflow: hidden;
            margin-left: 2rem;
            margin-top: -35rem;

            img {
                width: 100%;
                height: auto;
                position: relative;
                transform: translate(-3%,  30%); // Adjust to better fit content
                scale: 2.5;
                object-fit: cover;
                object-position: center;

                @media screen and (max-width: 900px) {
                    display: none;
                }
            }
        }

    }

    @media screen and (max-width: 900px) {
        background-color: #1A1B1D;
        height: 400px;
        // justify-content: center;
    }
}